<!DOCTYPE html>
<html>
<head>
    <title>Input Data Siswa</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Input Data Siswa</h1>
    <form action="/addrec" method="POST">
        <label for="nama">Nama:</label>
        <input type="text" id="nama" name="nama" required><br><br>
        <label for="kd_MK">Kode MK:</label>
        <input type="text" id="kd_MK" name="kd_MK" required><br><br>
        <label for="kelas">Kelas:</label>
        <input type="text" id="kelas" name="kelas" required><br><br>
        <label for="nilai">Nilai:</label>
        <input type="text" id="nilai" name="nilai" required><br><br>
        <input type="submit" value="Simpan">
    </form>
</body>
</html>

